.card-text , .card-title{
    font-family: $fuente-secundaria, sans-serif;
}

.inmueble__card{
    margin: 2rem;
}

.card{
    background-color: $celeste-claro;
}
.card__a:hover{
    color: $gris-card-hover;
}

.text-body-secondary , .form-check-label , .form-label , ::placeholder{
    font-family: $fuente-secundaria, sans-serif;
}
