
.contenedor__titulo{

    h1{
        margin: 2rem;
    }
    
}

.contenedor__filtro{
    margin: 2rem;
    width: 90%;
}

.list-group{
    text-align: center;    
}

.pag{
    margin: 2rem;
}

.page-link{
    background-color: $celeste;
    color: $gris-card-hover;
}
