*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(171,183,182);
}

.tituloPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.tituloPrincipal h1{
    font-size: 2.5rem;
}
.galeria{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    
    
}
         
.btn-grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 2rem;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgb(199, 199, 199);
    border-radius: 10px;
    display: block;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .btn-grad:active {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media (min-width: 768px){
    .galeria{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    
        grid-template-areas: "img1 central img3"
                             "img1 central img3";
    }
}